body {
    background-color: transparent;
    margin: 0;
    overflow-x: hidden;
}
#container  {
    display: flex;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

#id1 {
    background-image: url('./1.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: auto;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
}
#id2 {
    background-image: url('./2.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: auto;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
}

#id3 {
    background-image: url('./3.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: auto;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
}


.text {
    background-color: #fff;
    width: auto;
    z-index: 1;
    margin: 0;
}

#compte_a_rebours {
    color: red;
    text-align: center;
    font-size: 35px;
    background-color: black;
    widows: 100%;
}


.arrowleft {
    padding: 16px;
    left:0;
    color: white;
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    top:40%;

}

.arrowright {
    padding: 16px;
    right:0;
    color: white;
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    top:40%;
}