body {
   background-image: url('./1.jpg');
   background-repeat: no-repeat;
   background-color: gray;
   margin: 0;
   background-attachment: fixed;
}

section {
    background-color: #fff;
    width: 70%;
    height: 100%;
    z-index: 1;
    transition-duration: 5s;
}

footer {
    background-color: rgb(175, 14, 14);
    width: 100%;
    height:25vh;
    margin: 0px;
    position: relative;
    z-index:-1;
    transition-duration: 5s;
}
